dashboard
  tableaucontainer
    border: 1px dashed green
    display: inline-block
    background-color: #f6cfad
    padding: 12px
    currentcard
      float: none
      margin-top: 4px
      margin-left: 0 !important