dashboard
  fieldset.card-listing
    width: 280px
    margin-top: 2em
    margin-left: 2em
    min-height: 166px
    float: left
    legend
      font-size: 16pt
      font-style: normal
      font-variant: all-small-caps
      color: white
      background-color: darkcyan
      padding: 0 4px 4px

    // border: 1px dashed green
    border: none
    display: inline-block
    background-color: #f6cfad
    padding: 12px
    currentcard
      float: none
      margin-top: 4px
      margin-left: 0 !important
      width: unset
      carte 
        // width: 80%
        font-size: 0.8em
        infosdate
          display: none // on n'a pas besoin de les voir
        devjauge
          margin: 0